---
import Container from '@/components/Container.astro';
---

<Container as='footer' class='pt-24'>
  <p class="text-center text-muted-foreground text-sm">
    &copy; {new Date().getFullYear()}. @muhendisirfan Tüm hakları saklıdır.
  </p>
</Container>
